/**************************************************************************
                                    BALISE GENERALE
**************************************************************************/
body{
    position:relative;
}
h1{
    padding-top:30px;
}
h1, h3
{
    text-align:center;
}
h3
{
    color:#222222;
    font-size:1em;
    padding: 15px;
    text-transform: capitalize;
    font-weight: 600;
}
a
{
    text-decoration: none;
    color: #07574dab;
}
/**************************************************************************
                                    NAV
**************************************************************************/
#logo{
    width: 50px;
}
#logo2{
    width: 50px;
}
.fa-solid{
    color:#fff;
    font-size:30px;
}
.navbar-nav .nav-item .nav-link{
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #ececec5e;
    border-radius: 5px;
}
#nav-choices-display{
    left: -100%;
}
#nav-choices{
    border: none;
    background-color: transparent;
}
#nav-choices-close{
    border: none;
    background-color: transparent;
    display:none;

}
#nav-choices-close i{
    color:#07574d;   
}
.navbar-brand{
    color:#fff;
}
#logo-title{
    display: flex;
    justify-content: space-between;
    margin: 14px 10px 0 12px;
}

.bg-img-potager{
    height: 300px;
    background-image: url("assets/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
#title-bg-img{
    position: absolute;
    bottom:10px;
    right: 20px;
    font-size: 4em;
    padding: 5px;
    color: #ffffff78;
    text-transform: capitalize;
}
/**************************************************************************
                                    POST
**************************************************************************/
.img-posts{
    width: 100%;
    height: 200px;
}
.img-post{
    width: 100%;
}
.news p
{
    color: #8A8A8A;
    padding-bottom: 20px;
}
.news
{
    display: block;
    width: 300px;
    height: 400px;
    margin-top: 40px;
}
.format-date{
    color:#8A8A8A;
}
.format-user{
    color:#222222;
    font-weight: 600;
    text-transform: uppercase;
}
.section-profil{
    display: flex;
    gap:5px;
}
.section-profil-user-date{
    display: flex;
    flex-direction: column;
}
.fa-user.img-profil{
    padding: 10px 11px;
    color: #7d7c7c;
    border-radius: 50%;
    background-color: #eaeef2;
    border: solid 2px #aeaeae;
    font-size: 1.3em;
}
.add-button{
    width: 45px;
    height: 45px;    
    border-radius: 50%;
    background-color: #07574d;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.3s;
    box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001a 0 3px 5px -1px #0003;
}
.add-button .fa-solid{
    font-size: 20px;
    color:#ffffff;
}
.button{
    padding: 15px 20px 10px 20px;
    border: none;
    border-radius: 6px 0 0 6px;
}
.actions-post{
    border-radius: 6px 0 0 6px;
    bottom: 1px;
    right: 0;
    width: 50px;
    background-color: #e9e9ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions-post a{
    padding: 15px 18px;
}
.actions-post .fa-solid{
    font-size: 20px;
    color:#222222;
}
.container-actions-post{
    position:relative;
}
/**************************************************************************
                                    COMMENT
**************************************************************************/
.fa-user{
    padding: 10px 11px;
    color: #7d7c7c;
    border-radius: 0;
    background-color: #eaeef2;
    border: solid 3px #ffffff;
    font-size: 1.3em;
}
.container-comment{
    background-color: #e5e5e5;
    padding-left: 10px;
    margin-top: 25px;
}
.container-comment p{
    margin-bottom: 0;
    padding: 10px 0 10px;
}
.container-comment h2{
    padding: 20px 20px 15px 0;
}
.content-user-content-date{
    background-color: #ffffff;
    width: 100%;
    margin: 0 5px 20px 15px;
    padding: 5px;
}
.content-user-content-date .format-user{
    border-bottom: solid 1px #ddd;
    padding: 5px;
}
.content-user-comment{
    display: flex;
}






/**************************************************************************
                                    FORM
**************************************************************************/
.form-fo-contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
form{
    width: 90%;
}
.btn.btn-primary{
    background-color:#07574d;
    border-color: #07574dab;
}
